@media only screen and (max-width: 599px) {
    .resultSentiment{
        margin-left: 10vw;
        margin-right: 10vw;
    }

    #title {
        font-size: 35px;
    }
    
    #subtitle {
        font-size: 15px;  
    }

    .Content{
        width: 258px;
        
    }
    .Content h5{
        font-size: 20px;
    }
    .header1{
        width: 258px;
        height: 40px;
        /* background: #8F9DA5; */
     
    }
  }
@media only screen and (min-width: 600px) {
    #title {
        font-size: 64px;
    }
    
    #subtitle {
        font-size: 50px;
    
    }
    .Content{
        /* background: #DADADA; */
        width: 400px;
    }
    .Content h5{
        font-size: 28px;
    }
    .header1{
        width: 400px;
     
    }
  }

#title {
    font-family: monospace;
    font-style: normal;
    font-weight: bold;
    margin-top: 1.5em;
}

#subtitle {
    font-family: monospace;
    font-style: normal;
    font-weight: normal;

}

#text-form{
    border: 1px solid #000000;
    width: 80vw;
    height: 6em;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#submitButton{
    margin: auto;
    width: 7em;
    height: 3em;
    background: #8F9DA5;
    border: 1px solid #C6C9E8;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}


.Content{
    background: #DADADA;
    height: 60px;
}
.Content h5{
    margin-left: 1em;
    color: black !important;
}
.header1{
    height: 40px;
    background: #8F9DA5;
 
}

.header2{
    width: 100%;
    height: 40px;
    background: #8F9DA5;
}

.header2 h3{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;

    color: #FFFFFF;


}
.header1 h3{
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-left: 10%;
}

.Content h3{
    margin-left: 15%;
    font-weight: 500;
    font-size: 30px;
    line-height: 42px;
}
.resultHighlight{
    margin-top: 10%;
}
.Content2 {
    width: 100%;
    height: auto;
    word-wrap: break-word;
    background: #FFFFFF;
    margin-bottom: 10%;
}

.Content2Text {
    color: black !important;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left: 10%;
    margin-right: 10%;
}